body {
  background: #212121;
  height: 100%;
}
.wet{
  font-family: 'Menlo',sans-serif;
  font-size: 11px;
  color: #ffffff;
}
@media only screen and (max-width: 600px) {
  .wet {
     font-size: 18px;
  }
}
.dud {
  color: #757575;
}